# Exctract meaning of ethnicity code

In [1]:
import pandas as pd
from tqdm import tqdm
from src.converter import converter

In [ ]:
actor_df = pd.read_csv('data/actor_data.csv', index_col=0)
test_sample = actor_df[:50]
test_sample

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.84,/m/0x67,26.0,10.000000
matt_damon,1970-10-08,M,1.78,/m/0cnvdq1,18.0,9.912690
tom_hanks,1956-07-09,M,1.83,/m/02p4q5p,27.0,9.741555
eddie_murphy,1961-04-03,M,1.75,/m/0x67,21.0,9.415060
tom_cruise,1962-07-03,M,1.70,/m/02ctzb,18.0,9.362255
...,...,...,...,...,...,...
dan_castellaneta,1957-10-29,M,1.78,NaN,32.0,6.566376
eva_mendes,1974-03-05,F,1.68,/m/04dbw3,24.0,6.563597
ben_affleck,1972-08-15,M,1.89,/m/07bch9,19.0,6.562301
john_michael_higgins,1963-02-12,M,1.80,NaN,34.0,6.554449
michael_j._fox,1961-06-09,M,1.63,/m/0g8_vp,24.0,6.527429

In [3]:
tqdm.pandas() # for progress_apply

test_sample.loc[:, 'Actor ethnicity'] = test_sample['Actor ethnicity'].progress_apply(converter.get_ethnicity)
test_sample

100%|██████████| 100/100 [00:15<00:00,  6.38it/s]

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.84,African Americans,26.0,10.000000
matt_damon,1970-10-08,M,1.78,Scandinavian Americans,18.0,9.912690
tom_hanks,1956-07-09,M,1.83,Portuguese Americans,27.0,9.741555
eddie_murphy,1961-04-03,M,1.75,African Americans,21.0,9.415060
tom_cruise,1962-07-03,M,1.70,White people,18.0,9.362255
...,...,...,...,...,...,...
dan_castellaneta,1957-10-29,M,1.78,None,32.0,6.566376
eva_mendes,1974-03-05,F,1.68,Cuban Americans,24.0,6.563597
ben_affleck,1972-08-15,M,1.89,Scottish Americans,19.0,6.562301
john_michael_higgins,1963-02-12,M,1.80,None,34.0,6.554449
michael_j._fox,1961-06-09,M,1.63,Canadian Americans,24.0,6.527429

In [6]:
print(len(converter.ethnicity_data))

35